.card-row {
  background-color: rgba(0, 0, 0, .04);
  margin-bottom: 30px;
  width: 100%;
}

.wrap-card-grid {
  width: 100%;
  max-width: 300px;
  margin: 15px;
}

.wrap-card-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px;
}

.month-card {
  &__img {
    object-fit: cover;
    height: 100%;
    width: 100%;;
    padding: 0;
  }

  &__content {
    padding: 25px;
    flex-grow: 1;
  }

  &__title {
    text-transform: capitalize;
  }
}

.img-grid {
  width: 300px;
}

.display-grid-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.04);
}

.icon-custom {
  color: rgba(0, 0, 0, .54);
  font-size: 25px;
}

button.active {
  background: rgb(0 0 0 / 9%);
}
