<div class="container" fxLayout="row wrap" fxLayout.xs=" column " gdGap=" 15px 15px" fxLayoutAlign="space-around">

  <app-filter-board fxFlex="100%"
    (groupBy)="groupBy($event)"
    (filter)="filter($event)"
    (search)="search($event)"
    (sort)="sort($event)"
  >
  </app-filter-board>

  <ng-template [ngIf]="groupType$ | async" [ngIfElse]="months">
    <mat-card class="mat-card-custom" fxFlex="20%" *ngFor="let groupedMonths of groupedMonths$ | async">
      <mat-card-header>
        <mat-card-title>
          {{groupedMonths.groupName}}
        </mat-card-title>
      </mat-card-header>

      <ng-container *ngTemplateOutlet="months;context:{months: groupedMonths.months}"></ng-container>
    </mat-card>
  </ng-template>
</div>

<ng-template #months let-months="months">
  <mat-card-content *ngFor="let month of months || (months$ | async)">
    <mat-card class="example-card">
      <img mat-card-image [src]="month?.image" alt="Photo of a Shiba Inu">

      <mat-card-header>
        <mat-card-title>{{month.name}}</mat-card-title>
        <mat-card-subtitle>{{month.date}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><span class="article-subTitle">{{month.description}}</span></p>
        <p><span class="article-subTitle">Days count {{month?.days_count}}</span></p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</ng-template>
